data-grid {
  display: block;
  margin: 0 $gutter;
  background-color: $theme-card;
  border: none;
  padding: $gutter/2;

  table {
    table-layout: auto;

    thead {
      tr {
        th {
          text-transform: uppercase;
          border: none;
        }

        &.header {
          th {
            padding: 1.2em 1em;

            .fa {
              margin-left: 0.5em;
            }

            &[sortable] {
              cursor: pointer;

              .fa-sort {
                display: inline;
                color: tint($color-dark-text, 80%);
              }

              :not(.fa-sort) {
                display: none;
              }

              &:hover {
                .fa {
                  color: $color-dark-text;
                }
              }
            }

            &[sortable="asc"] {
              .fa-sort-asc {
                display: inline;
              }

              :not(.fa-sort-asc) {
                display: none;
              }
            }

            &[sortable="desc"] {
              .fa-sort-desc {
                display: inline;
              }

              :not(.fa-sort-desc) {
                display: none;
              }
            }
          }
        }

        &.filter {
          th {
            padding: 0 1em 0.5em 0.5em;
            position: relative;

            i.fa {
              position: absolute;
              right: 1.2em;
              top: 0.3em;
              font-size: 1.2em;
              color: shade($theme-card, 50%);
            }
          }
        }

        &:last-child {
          th {
            border-bottom: 1px solid shade($base-border-color, 10%);
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: shade($theme-card, 5%);
        }

        td {
          padding: 1.2em 1em;

          &.action {
            cursor: pointer;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }
    }
  }
}