email-detail {
  display: flex;
  justify-content: space-between;

  input-field {
    flex-basis: 100%;
  }

  input-dropdown {
    flex-shrink: 0;
    width: 20%;
    min-width: 100px;
    margin-left: 2em;
  }
}