form-control {
  display: block;

  header {
    display: flex;
    justify-content: space-between;

    form-actions {
      align-self: center;
      display: flex;
      align-items: center;

      divider {
        display: inline-block;
        width: 1px;
        height: 2.5em;
        border-left: 2px solid $color-primary;
        margin: 0 0.5em;
      }
    }
  }
}