<template>
  <!--
  If clientId is loaded asynchronously, use <template if.bind="configLoaded">.
  -->
  <link rel="import" href="/bower_components/google-signin/google-signin.html">
  <google-signin ref="googleSignin" brand="google" width="wide"
                 client-id="962926447235-ekih9d4vkicf6emvt4rnh5tdivkjnce0.apps.googleusercontent.com"
                 scopes="https://www.googleapis.com/auth/calendar"
                 google-signin-success.delegate="signinSuccess()"></google-signin>
</template>