.member-detail {

  .datagroup {
    background-color: $theme-card;
    padding: $gutter;
    margin: $gutter;

    ul {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        phone-detail,
        email-detail,
        address-detail {
          flex-basis: 100%;
        }

        button {
          margin-left: 1em;
        }
      }
    }

    button {
      font-size: 1.5em;

      &.add {
        display: block;
        margin: 0.2em 0 0.2em auto;
      }

      &[disabled] {
        &:hover,
        &:focus {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
}