// Typography
$base-font-family: 'Roboto', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;
$em-base: $base-font-size;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$color-primary: #0288D1;
$color-primary-light: #4fc3f7;
$color-primary-dark: #01579b;

$accent-primary: #ff9100;

$theme-navigation: #37474F;
$theme-secondary: $theme-navigation;
$theme-card: #ffffff;
$theme-background: shade($theme-card, 4%);

// Font Colors
$color-dark-text: #000;
$color-light-text: #fff;

// Border
$base-border-color: shade($theme-card, 10%);
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($color-primary, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Card
$card-margin: 25px;
$card-margin-small: 5px;

// Neat
$max-width: auto;